<% provide(:title, 'Sign Up') %>
<div class="pure-g">
  <div class="pure-u-1">
    <h3>Sign Up</h3>

      <div class="pure-form">
      <%= form_for(@user) do |f| %>
      <%= render 'shared/error_messages' %>

        <%= f.text_field :name, :placeholder => "Name", :class => "pure-input-rounded" %>

        <%= f.text_field :email, :placeholder => "Email", :class => "pure-input-rounded" %>
        <br>

        <%= f.password_field :password, :placeholder => "Password", :class => "pure-input-rounded " %>

        <%= f.password_field :password_confirmation, :placeholder => "Password Confirmation", :class => "pure-input-rounded" %>
        <br>

        <%= f.label :zipcode %>
        <%= f.select :zipcode, options_for_select([["Female", "female"], ["Male", "male"], ["Trans","trans"]], :class => "fields") %>

        <%= f.text_field :age, :placeholder => "Age", :class => "pure-input-rounded" %>
        <br>

        <%= f.label :gender %>
        <%= f.select :gender, options_for_select([["Female", "female"], ["Male", "male"], ["Trans","trans"]], :class => "fields") %>

        <%= f.label :lookingfor %>
        <%= f.select :lookingfor, options_for_select([["Female", "female"], ["Male", "male"], ["Trans","trans"]], :class => "fields")%>
        <br>

        <%= f.submit "Create my account", class: "button-signup pure-button", id: "sign-up2" %>
        <% end %>
      </div>
      </div>
  </div>
</div>