<% provide(:title, "Sign in") %>
<h3>Sign in</h3>

<div class="pure-g">
  <div class="pure-u-1">
  <div class="pure-form">
    <%= form_for(:session, url: sessions_path) do |f| %>

      <%= f.text_field :email, :placeholder => "Email", :class => "pure-input-rounded" %>

      <%= f.password_field :password, :placeholder => "Password",  :class => "pure-input-rounded" %>

      <%= f.submit "Sign in", class: "button-signup pure-button", id: "sign-in" %>
    <% end %>
  </div>
</div>
  
    <div class="pure-u-1">
    <p>New user? <%= link_to "Sign up now!", signup_path %></p>
  </div>
</div>